@media screen and (max-width: 676px) {
    .header-container,
    .nav-container,
    .main-container,
    .header-title,
    .Banner-tag,
    .container-2,
    .destination-section{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
    }
    
}

@media screen and (min-width: 676px) and (max-width:920px){
    .header-container,
    .nav-container,
    .main-container,
    .header-title,
    .Banner-tag,
    .container-2,
    .destination-section{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
    }
    
}

