@import url("http://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap")

body{
    font-family: "Poppins", sans-serif;
}
.header-container{
   max-width: 1200px; 
   margin: 0 auto;
   /* border: 5px solid blue; */
   display: flex;
   gap: 500px;
}
.main-container{
    max-width:1200px;
    margin: 0 auto;
    /* border: 5px solid blue; */
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-size: 1200px;
    width: 1200px;
    height: 500px;
    align-items: center;
    gap: 20px;
}
.header-title{
    color: #FF5400;
    font-family: Mulish;
    font-size: 35px;
    font-weight: 600;
    
}

.nav-container{
    /* border: 2px solid blue; */
    min-width: 25px;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 50%;
    display: inline-flex;
}
.primary-color{
    color: #FF5400;
}
.nav-container p{
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}
.nav-container img{
    width: 50px;
    object-fit: cover;
}

.nav-content{
    /* border: 5px solid red; */
    width: 50%;
    display: flex;
    gap: 30px;
    align-items: center; 

}
.nav-content a{ 
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

.Secondary-color{
    color: #424247;
}

.Banner-title {
    text-align: center;

}
.Banner-Description{
    text-align: center;
    color: #FFFFFF;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;

}
.content-header{
    gap: 40px;
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    
}
.Banner-tag{
    margin: 0 auto;
    display: inline-flex;
    background-color:rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    width: 800px;
    height: 80px;
    padding: 16px;
    align-items: center;
    gap: 10px;
}

.btn-title{
    display:flex;
    border-radius: 8px;
    width: 174px;
    height: 52px;
    background: #FF5400;
    align-items: center;
    gap: 10px;
    color: #FFF;
    justify-content: center;
    border: none ;
}

.text-input{
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 52px;
}
::placeholder{
    text-align: left;
    font-weight: 600;
}

.chossen-destinatina{
    /* max-width:1200px; */
    margin: 0 auto;
    width: 1200px;
    height: 1200px;
    /* border: 2px solid blue; */
    gap: 50px;
}
.chossen-destinatina-title{
    min-width: 200px;
    /* border: 2px solid blue; */
    background-size: 1200px;
    width: 1200px;
    height: 100px;
    align-items: center;
    gap:10px;
    text-align: center;

}
.chossen-destinatina-1{
    margin-top: 20px;
    /* border: 2px solid red; */
    width: 1200px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
    
}
.Maldives{
    width:600px;
    height: 300px;
    /* border: 2px solid blue; */
    background-image: url('../Images/Rectangle\ 5.png');
    background-repeat: no-repeat;
    text-align: center;
    /* display: flex; */
}
.Indonsia{
    margin-left: 50px;
    width:600px;
    height: 300px;
    /* border: 2px solid blue; */
    background-image: url('../Images/Rectangle\ 8.png');
    background-repeat: no-repeat;
    text-align: center;
    /* display: flex; */
    align-items: center;
}
.chossen-destinatina-2{
    margin-top: 30px;
    /* border: 2px solid yellow; */
    width: 1200px;
    height: 300px;
    display: flex;
    justify-content:space-around;
    /* gap: 20px; */

}
.Srilanka{
    width:400px;
    height: 300px;
    /* border: 2px solid blue; */
    background-image: url('../Images/Rectangle\ 6.png');
    background-repeat: no-repeat;
    /* text-align: center; */
    align-items: center;
    margin-right: 30px;
    border-radius: 16px;
}
.North-America{
    gap: 40px;
    width: 474px;
    height: 286px;
    /* border: 2px solid blue; */
    background-image: url('../Images/Rectangle\ 7.png');
    background-repeat: no-repeat;
    /* text-align: center; */
    align-items: center;
    border-radius: 16px;
}
.Kashmir{
    margin-left: 20px;
    width: 274px;
    height: 286px;
    /* border: 2px solid blue; */
    background-image: url('../Images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    /* text-align: center; */
    align-items: center;
    border-radius: 16px;
}
.chossen-destinatina-3{
    margin-top: 30px;
    /* border: 2px solid green; */
    width: 1200px;
    height: 300px;
    display: flex;
    justify-content:space-around;
    /* gap: 20px; */
}
.Bangladesh{
    margin-right: 20px;
    width: 473px;
    height: 300px;
    /* border: 2px solid blue; */
    background-image: url('../Images/Rectangle\ 11.png');
    background-repeat: no-repeat;
    /* text-align: center; */
    align-items: center;
    border-radius: 16px;
}
.Bandarban{
    margin-left: 20px;
    width: 673px;
    height: 300px;
    /* border: 2px solid blue; */
    background-image: url('../Images/Rectangle\ 10.png');
    background-repeat: no-repeat;
    /* text-align: center; */
    align-items: center;
    border-radius: 16px;
}

.Country-Name{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    /* align-items: center; */
    
}


.container-2{
    margin: 100px auto;
    /* border: 2px solid red; */
    display: flex;
    background-size: 1200px;
    width: 1200px;
    height: 500px;
    align-items: center;
    gap:20px;
}

.Text-Content{
    
    /* border: 2px solid red; */
    width: 50%;
    margin-left: 30px;
    font-weight: 400;
}

.img-des{
    /* border: 2px solid blue; */
    /* width: 50%; */
    border-radius: 16px;
    object-fit: cover;
    width: 540px;
    height: 550px;
   
}

.destination-section{
    margin: 100px auto;
    /* border: 2px solid red; */
    background-size: 1200px;
    width: 1200px;
    height: 600px;
    gap:20px;
}

.title-destination{
    /* border: 2px solid blue; */
    min-width: 200px;
    border-radius: 16px;
    justify-content: center;
    text-align: center; 
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.des-destination{
    display: flex;
    gap: 20px;
    
}

.des-destination-1{
    margin-left: 0;
    background-color:#cbfb63ce ;
    background-color: 20%;
    /* border: 2px solid blue; */
    width: 600px;
    height: 200px;
    border-radius: 16px;
    padding: 20px;
}

.des-destination-2{
    margin-right: 0;
    background-color:#29CEF633;
    background-color: 20%;
    /* border: 2px solid blue; */
    width: 600px;
    height: 200px;
    border-radius: 16px;
    padding: 20px;
}

.des-destination-3{
   margin: 20px ;
   margin-left: 300px; 
   /* border: 2px solid blue; */
   background-color: #b2e94455;
   width: 600px;
   height: 200px;
   border-radius: 16px;
   justify-content: center;
   text-align: left; 
   font-family: Mulish;
   font-size: 16px;
   font-weight: 400;
   padding: 20px;

}

.deals{
    margin: 100px auto;
    /* border: 2px solid; */
    width: 1200px;
    height: 50px;
    text-align: center;

}

.deals-description{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
.Satorini{
    margin: 0 auto;
    background-image: url('../Images/Group\ 39.png');
    background-repeat: no-repeat;
    width: 1170px;
    height: 500px;
}
.Satorini-title{
    margin-right: 0 auto;
    border: 2px solid red;
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    display: flex;
    justify-content: space-around;
    padding: 20px 20px;
}

.people{
    padding: 40px 40px;
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    font-weight: 400;
    font-family: Mulish;
    font-size: 18px;
    text-align:center;

}