@import url("http://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap")

body{
    font-family: "Poppins", sans-serif;
}
.header-container{
   max-width: 1200px; 
   margin: 0 auto;
   border: 5px solid blue;
   display: flex;
   gap: 500px;
}
.main-container{
    max-width:1200px;
    margin: 0 auto;
    border: 5px solid blue;
}

.nav-container{
    /* border: 2px solid blue; */
    min-width: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 50%;
}
.primary-color{
    color: #FF5400;
}
.nav-container p{
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}
.nav-container img{
    width: 50px;
    object-fit: cover;
}

.nav-content{
    /* border: 5px solid red; */
    width: 50%;
    display: flex;
    gap: 30px;
    align-items: center; 

}
.nav-content a{
    
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

.Secondary-color{
    color: #424247;
}
.Banner-title{
    display: flex;
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-size: 1200px;
    width: 1200px;
    height: 500px;
}
.content-header{
    box-sizing: content-box;

}